.container {
    width: 100%;
    height: 100vh;
}

.toppane {
    width: 100%;
    height: 70px;
}

.leftpane {
    width: 20%;
    height: 70vh;
    margin-left: 20px;
}

.middlepane {
    width: 40%;
    height: 70vh;
}

.rightpane {
    width: 40%;
    height: 70vh;
    margin-right: 20px;
}

body {
    margin: 0;
}

.d-flex {
    display: flex;
}